<!DOCTYPE html>
<html lang="en" ng-app="ShareApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shareconomy</title>
    
    <link rel="stylesheet" href ="/bower_components/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href ="/bower_components/bootstrap/dist/css/amelia.bootstrap.css">    
    <link rel="stylesheet" href ="/bower_components/angular-flash-alert/dist/angular-flash.css">
    <link rel="stylesheet" href ="/css/main.css">
    
</head>

<body ng-controller="IndexCtrl as indexCtrl" style = "background-image:url(/views/bgimage.jpg);background-size:cover;
                                                        background-repeat:no-repeat;
                                                        background-position: center center;
                                                        background-attachment:fixed" ng-cloak>

    <!--nav bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#"> <span style = "opacity: 1">SHARECONOMY</span> </a> 
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li ng-show = "indexCtrl.displaySwitch"><a class="navbar-brand" href="/#!/lend">Lend</a></li>
        <li><a class="navbar-brand" href="/#!/borrow"></span> Borrow</a></li>
        <li ng-show = "indexCtrl.displaySwitch"><a href="/#!/profile">
            </span>{{indexCtrl.username}}</a>
        </li>
        <li ng-hide = "indexCtrl.displaySwitch"><a href="/#!/register">Register</a></li>
        <li ng-hide = "indexCtrl.displaySwitch"><a href="/#!/login">Login</a></li>
        <li ng-show = "indexCtrl.displaySwitch" ng-click = "indexCtrl.logout()"><a href="#"> Logout</a></li>
        </ul>
    </div>
    </nav>

<div class="row">
<div class="container-fluid" ui-view></div>
</div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="/bower_components/angular-flash-alert/dist/angular-flash.js"></script>

    <!--Application file-->
    <script src="/app.js"></script>
    <!--Config file-->
    <script src="/config.js"></script>
    <!--Service-->
    <script src="/services/auth.service.js"></script>
    <script src="/services/contact.service.js"></script>
    <!--controllers-->
    <script src="/controllers/register.controller.js"></script>
    <script src="/controllers/login.controller.js"></script>
    <script src="/controllers/lend.controller.js"></script>
    <script src="/controllers/borrow.controller.js"></script>
    <script src="/controllers/index.controller.js"></script>
    <script src="/controllers/profile.controller.js"></script>
    <script src="/controllers/contact.controller.js"></script>

</body>

</html>