body {
    padding-top: 50px;
    color: ivory; 
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

h1,h2, h3 {
    text-align : center;
    font-size: 4em; 
    color: ivory;
}

h4 {
    display: block;
    text-align: center;
}

a{
    color: #0033FF;
    font-weight: bold;
}

.my-panel{
    width: 23.53rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin:5px;
    box-shadow: 2px 2px 2px grey;
    border: 0px;
}

.contact-panel{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin:5px;
    box-shadow: 2px 2px 2px grey;
    border: 0px;
}

.transparent{
    background:transparent;
    border: none;
}

.footer {
    text-align : center;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
}

.ivory
{
    color:ivory
}

div {
    opacity: 0.99;
}

nav {
    opacity: 0.99;
}

img {
    opacity: 1;
}

.copyright {
    position: fixed;
    bottom:10px;
    /* Set the fixed height of the footer here */
    height: 30px;
    line-height: 60px; /* Vertically center the text there */
  }

 .copyright p {
      margin: 0;
      text-align: center;
      letter-spacing: 2px;
      color: #ffffff ;
  }