<div ng-controller = "BorrowCtrl as borrowCtrl" class = "container-fluid" ng-cloak>
    
        <div class="col-lg-3 col-md-3" role="group" aria-label="Basic example">
           <div style = "position:fixed; top:80px; left:60px" class="btn-group-vertical nopadding"> 
            <h2> Categories </h2>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('mobile')">MOBILE DEVICES & ACCESSORIES</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('camera')">CAMERAS & ACCESSORIES</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('computer')">COMPUTER & ACCESSORIES</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('tools')">TOOLS & EQUIPMENT</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('home')">FURNITURE & HOME DECOR</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('appliances')">HOME APPLIANCES</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('bicycle')">BICYCLES</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('sports')">SPORT ESSENTIALS</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('clothing')">CLOTHING</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('travel')">TRAVEL & OUTDOOR ESSENTIALS</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('music')">MUSIC RELATED</button>
            <button type="button" class="btn btn-primary transparent" ng-click = "borrowCtrl.getByCategory('misc')">MISCELLANEOUS</button>
           </div>
        </div>
    
    <!--
        <div class= "col-lg-3 col-md-3" >
            <h2> Categories </h2>
            <h4 ng-click = "borrowCtrl.getByCategory('mobile')">Mobile Devices & Tablets</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('camera')">Camera and Accessories</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('computer')">Computer and Accessories</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('tools')">Tools & Equipment</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('home')">Furniture and Home Decor</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('appliances')">Home Appliances</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('bicycle')">Bicycles</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('sports')">Sports Essentials</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('clothing')">Clothing</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('travel')">Travel & Outdoor Essentials</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('music')">Music Related</h4>
            <h4 ng-click = "borrowCtrl.getByCategory('misc')">Miscellaneous</h4>
        </div>
    -->
    <div class = "col-lg-9 col-md-6 col-sm-3">

        <h1>Borrow</h1>

        <p style = "text-align: center"> Search for what you need by category, and click on the item to contact the lender! </p> 

        <div>
        <flash-message>
            duration="5000"
            show-close="true"
            on-dismiss="myCallback(flash);">
        </flash-message>
        

        <div ng-repeat = "item in borrowCtrl.items" 
             ng-click = "borrowCtrl.contactLender(item)"
             class = "col-lg-3 col-md-2 panel panel-default my-panel">
            <span><h4 style = "font-family: 'Cabin'">{{item.name | uppercase}}</h4></span>
            <img class="img-responsive img-rounded" ng-src="img/{{item.imgurl}}">
            <div style = "padding:6px">
                <span style = "color:lightgray">{{item.username}}</span><br>
                <span><b>${{item.rate | uppercase }}/day</b></span><br>
                <span>{{item.description | limitTo: 50}} 
                    <a href ng-click = "borrowCtrl.contactLender(item)"> ...full description</a>
                </span><br>
                <div class = "panel panel-default" style = "background-color:darkgrey;
                        color:ivory;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        padding-right: 5px;
                        margin:2px;
                        text-align: center">
                    CURRENTLY LENT? <span style = "color: dimgrey">  {{item.lent_status |uppercase}} </span>
                </div>   
            </div>
        </div>
    
    </div>

</div>




