<div ng-controller = "ContactCtrl as contactCtrl" class = "container">

<div class = "col-lg-3"></div>

<div class = "col-lg-6">

<h1> Contact Lender </h1>

<p style = "text-align: center" > Please note that your email will be provided to the lender. </p>

<p style = "text-align: center" >Please provide your preferred contact details in the comments too.  </p>

<div class = "panel panel-default contact-panel">
    <h4> <b> {{contactCtrl.item.name | uppercase}} </b></h4>
    <img class = "img-thumbnail" style = "display:block; margin: 0 auto; width: 70%; margin-bottom: 5px;" ng-src="img/{{contactCtrl.item.imgurl}}" />
    <p style = "text-align: center"> <b>{{contactCtrl.item.description}}</b></p>
    <p style = "text-align: center">Proposed rate: <b>${{contactCtrl.item.rate}}/day</b></p>

<form name = "contactForm" ng-submit = "contactCtrl.sendInterest()" novalidate>
            
                <div class="form-group">
                    <label for="message">Comments</label>
                    <input id="message"
                        name="message" 
                        type="text"
                        class="form-control" 
                        ng-model="contactCtrl.item.message" 
                        required/>
                </div>
                <div class="validation" data-ng-show="contactForm.message.$touched || contactForm.$submitted">
                    <div data-ng-show="contactForm.message.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter a message.
                    </div>
                </div>
            
            <flash-message>
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);">
            </flash-message>
            
            <!--
             <div data-ng-show="contactForm.$submitted">
                <h4>An email has been sent to the lender with your request. Fingers crossed!</h4>
            </div>
            <div class="form-group">
            -->
                    <input id="submit" name="submit" type="submit" class="btn-success">
            
            </div>
        </div>

</form>

</div>