<div ng-controller = "LendCtrl as lendCtrl" class = "container">

<h1>LEND</h1>
 
<form name="itemForm" ng-submit="itemForm.$valid && lendCtrl.enterItem()" enctype = "multitype/form-data" novalidate>

<!--
CATEGORIES
Mobile Devices & Tablets/Camera and Accessories/Computer Accessories/Tools & Equipment/Furniture and Home Decor/Home Appliances/Bicycles/Sports
Wedding Essentials/Clothing/Luxury/Travel & Outdoor Essentials/Music Related/Miscelleous-->

            <!--CATEGORY-->
            <div class="form-group">
                <label for="category">Category</label>
                <div class = "row">
                <div class = "col-lg-4">
                <!--required is required to allow ng-show to work-->
                    <input id="category" name="category" type="radio" value="mobile" ng-model="lendCtrl.item.category" required/> Mobile Devices & Tablets
                    <br/>
                    <input id="category" name="category" type="radio" value="camera" ng-model="lendCtrl.item.category" required/> Camera and Accessories
                    <br/>
                    <input id="category" name="category" type="radio" value="computer" ng-model="lendCtrl.item.category" required/> Computer and Accessories
                    <br/>
                    <input id="category" name="category" type="radio" value="tools" ng-model="lendCtrl.item.category" required/> Tools & Equipment
                    <br/>
                </div>
                <div class = "col-lg-4">
                    <input id="category" name="category" type="radio" value="home" ng-model="lendCtrl.item.category" required/> Furniture and Home Decor
                    <br/>
                    <input id="category" name="category" type="radio" value="appliances" ng-model="lendCtrl.item.category" required/> Home Appliances
                    <br/>
                    <input id="category" name="category" type="radio" value="bicycle" ng-model="lendCtrl.item.category" required/> Bicycles
                    <br/>
                    <input id="category" name="category" type="radio" value="sports" ng-model="lendCtrl.item.category" required/> Sports
                    <br/>
                    <input id="category" name="category" type="radio" value="wedding" ng-model="lendCtrl.item.category" required/> Wedding Essentials
                    <br/>
                </div>
                <div class = "col-lg-4">
                    <input id="category" name="category" type="radio" value="clothing" ng-model="lendCtrl.item.category" required/> Clothing
                    <br/>
                    <input id="category" name="category" type="radio" value="travel" ng-model="lendCtrl.item.category" required/> Travel & Outdoor Essentials
                    <br/>
                    <input id="category" name="category" type="radio" value="music" ng-model="lendCtrl.item.category" required/> Music Related
                    <br/>
                    <input id="category" name="category" type="radio" value="misc" ng-model="lendCtrl.item.category" required/> Miscellaneous
                    <br/>
                </div>
                </div>
            <div class="validation" data-ng-show="itemForm.category.$touched || itemForm.$submitted">
                <div data-ng-show="itemForm.category.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> Please select a category.
                </div>
             </div>
            </div>

            <!--ITEM-->
            <div class="form-group">
                <label for="name">Item</label>
                <input id="item" name="name" type="text" class="form-control" ng-model="lendCtrl.item.name" required/>
                <div class="validation" data-ng-show="itemForm.name.$touched || itemForm.$submitted">
                    <div data-ng-show="itemForm.item.$error.required">
                        Please enter an item name.
                    </div>
                </div>
            </div>

            <!--DESCRIPTION-->
            <div class="form-group">
                <label for="description">Description</label>
                <input id="description" name="description" type="text" class="form-control" ng-model="lendCtrl.item.description" required/>
                <div class="validation" data-ng-show="itemForm.description.$touched || itemForm.$submitted">
                    <div data-ng-show="itemForm.description.$error.required">
                        Please enter an item description.
                    </div>
                </div>
            </div>

            <!--RATE-->
            <div class="form-group">
                <label for="rate">Rate</label>
                <input id="rate" name="rate" type="number" class="form-control" ng-model="lendCtrl.item.rate">
            </div>

            <!--IMAGE-->
            <!--Upload image info
            When you are writing client-side code, all you need to know is use multipart/form-data when your form includes any <input type="file"> elements.

            When you are writing server-side code: Use a prewritten form handling library (e.g. Perl's CGI->param or the one exposed by PHP's
            $_POST superglobal) and it will take care of the differences for you. Don't bother trying to parse the raw input received by the server.

            Never use text/plain.
            -->

            <!--Upload to local drive-->
            <div class="form-group">
                <!-- Select file to upload. Single file only. Accepts only images-->
                <input id="file" type="file" ng-model="lendCtrl.item.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
            </div>
            <div class="form-group">
                <!-- Thumbnail preview of image to upload. -->
                <img ngf-thumbnail="lendCtrl.item.imgFile" width="20%" class="img-thumbnail">
            </div>

            <flash-message>
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);"
            </flash-message>
            
            <!--
            <div data-ng-show="itemForm.$submitted">
                <h5>Thank you for lending to the community!</h5>
            </div>
            <div class="form-group">
            -->
                
                <input id="submit" name="submit" type="submit" class="btn-success" />
            </div>
        </form>

            

        

</div>


