<div ng-controller = "LoginCtrl as loginCtrl" class = "container">
    
    <div class = "col-lg-2"></div>

    <div class = "col-lg-8">

    <h1> Log In </h1>


        <form name = "loginForm" ng-submit = "loginCtrl.login(loginCtrl.user)" novalidate>

            <!--username-->
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username"
                        name="username" 
                        type="text"
                        class="form-control" 
                        ng-model="loginCtrl.user.username" 
                        required/>
                <div class="nopadding validation" data-ng-show="loginForm.username.$touched || loginForm.$submitted">
                    <div data-ng-show="loginForm.username.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Please enter your username.
                    </div>
                </div>
            </div>

            <!--password-->
            <div class="form-group">
                <label for="password">Password</label>
                    <input id="password"
                        name="password" 
                        type="password"
                        class="form-control" 
                        ng-model="loginCtrl.user.password" 
                        required/>
                <div class="validation" data-ng-show="loginForm.password.$touched || loginForm.$submitted">
                    <div data-ng-show="loginForm.password.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Please enter a password.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input id="submit" name="submit" type="submit" class="btn-success">
                <span style = "padding-left:5px"><a href="/#!/register">New User?</a></span>
            </div>

        </form>

        <flash-message>
            duration="5000"
            show-close="true"
            on-dismiss="myCallback(flash);"
        </flash-message>

    </div>

    <div class = "col-lg-2"></div>    

</div>