<div ng-controller = "ProfileCtrl as profileCtrl" class = "container-fluid" ng-cloak>

    <h1>Your things</h1>

    <div class = "col-lg-1"></div>

    <div class = "col-lg-10">

        <p style = "text-align: center">How are you today, <b>{{profileCtrl.user.firstname}}</b>?</p>

        <p style = "text-align: center">Please click on each interest item to dismiss.</b></p>

        <div ng-repeat = "item in profileCtrl.items"
                class = "col-lg-6 panel panel-default" 
                style = "width: 35.25rem;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        padding-right: 5px;
                        margin:5px;
                        box-shadow: 1px 1px 1px grey">
            <span><h4>{{item.name | uppercase}}</h4></span>
            <img class="img-responsive img-rounded" ng-src="img/{{item.imgurl}}">
            <div style = "padding:6px">
                <span>{{item.description}} </span><br>
            </div>
            <div ng-repeat = "interest in item.interest"  class = "panel panel-default" style = "background-color:darkgrey;
                        color:ivory;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        padding-right: 5px;
                        margin:2px;
                        text-align: center"
                        ng-click = "profileCtrl.deleteInterest(interest, $index)">
                <span><b><span style = "color:dimgray">{{interest.borrower_username}}</span> is interested in this!</b></span><br>
                <span><b>Email: {{interest.borrower_email}}</b></span><br>
            </div>
            <form ng-submit = "profileCtrl.updateLentStatus(item)" style = 
                        "padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        padding-right: 3px;
                        text-align: right">
                <span style = "padding:2px"><input id="lentstatus" name="lentstatus" type="radio" value="yes" ng-model="item.lent_status" required/> LENT</span>
                <span style = "padding:2px"><input id="lentstatus" name="lentstatus" type="radio" value="no" ng-model="item.lent_status" required/> WITH ME</span>
                <button class = "btn-success">Update</button>
            </form>
            <button class = "btn-danger" ng-click = "profileCtrl.deleteItem(item)" style = "margin: 4px;float: right">Delete</button>
        </div>

    </div>

    <div class = "col-lg-1"></div>
    
</div>



