<div ng-controller="RegisterCtrl as registerCtrl" class = "container">

    <div class = "col-lg-2"></div>

    <div class = "col-lg-8">

    <h1> Register </h1>

        <form name = "registerForm" ng-submit = "registerCtrl.submit()" novalidate>
            
            <row>
            <!--full name-->
            <div class = "col-lg-6" style = "padding-left:0px">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input id="firstname"
                        name="firstname" 
                        type="text"
                        class="form-control" 
                        ng-model="registerCtrl.user.firstname" 
                        required/>
                </div>
                <div class="validation" data-ng-show="registerForm.firstname.$touched || registerForm.$submitted">
                    <div data-ng-show="registerForm.firstname.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter your first name.
                    </div>
                </div>
            </div>

            <!--last name-->
            <div class = "col-lg-6" style = "padding-right:0px">
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input id="lastname"
                        name="lastname" 
                        type="text"
                        class="form-control" 
                        ng-model="registerCtrl.user.lastname" 
                        required/>
                </div>
                <div class="validation" data-ng-show="registerForm.lastname.$touched || registerForm.$submitted">
                    <div data-ng-show="registerForm.lastname.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter your last name.
                    </div>
                </div>
            </div>
            </row>

            <row>
            <!--Username-->
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username"
                        name="username" 
                        type="text"
                        class="form-control" 
                        ng-model="registerCtrl.user.username" 
                        required/>
                </div>
                <div class="validation" data-ng-show="registerForm.username.$touched || registerForm.$submitted">
                    <div data-ng-show="registerForm.username.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter a username.
                    </div>
                </div>
            </row>
            <!--email-->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email"
                        name="email" 
                        type="email"
                        class="form-control" 
                        ng-model="registerCtrl.user.email" 
                        required/>
                </div>
                <div class="validation" data-ng-show="registerForm.email.$touched || registerForm.$submitted">
                    <div data-ng-show="registerForm.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter your email.
                    </div>
                </div>

            <!--password-->
            <!--TODO: add in email validation-->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password"
                        name="password" 
                        type="password"
                        class="form-control" 
                        ng-model="registerCtrl.user.password" 
                        required/>
                </div>
                <div class="validation" data-ng-show="registerForm.password.$touched || registerForm.$submitted">
                    <div data-ng-show="registerForm.password.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter a password.
                    </div>
                </div>

                <div class="form-group">
                    <label for="Address">Address</label>
                    <input id="address"
                        name="address" 
                        type="text"
                        class="form-control" 
                        ng-model="registerCtrl.user.address" 
                        required/>
                </div>
                <div class="validation" data-ng-show="registerForm.address.$touched || registerForm.$submitted">
                    <div data-ng-show="registerForm.address.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter an address
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="postal">Postal Code</label>
                    <input id="postal"
                        name="postal" 
                        type="number"
                        class="form-control" 
                        ng-model="registerCtrl.user.postal" 
                        required/>
                </div>
                <div class="validation" data-ng-show="registerForm.postal.$touched || registerForm.$submitted">
                    <div data-ng-show="registerForm.postal.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter an postal code.
                    </div>
                </div>

                <div class="form-group">
                    <input id="submit" name="submit" type="submit" class="btn-success">
                </div>

                <flash-message>
                    duration="5000"
                    show-close="true"
                    on-dismiss="myCallback(flash);">
                </flash-message>

                <div>
                    <p><a href="/#!/login">Are you an existing user?</a></p>
                </div>
                <!--<div data-ng-show="registerForm.$submitted && !registrationForm.$valid" style = "display: inline-block">
                            <span class = "glyphicon glyphicon-alert"></span> Please fill up all fields.
                        </div>
                    <div data-ng-show="registrationForm.$submitted && registrationForm.$valid" style = "display: inline-block">
                        <span class = "glyphicon glyphicon-ok"></span> THANK YOU
                </div>-->


        </form>


    </div>

</div>